/* Position zoom control to bottom-right */
.ol-zoom {
    bottom: 2.5em !important;
    right: 0.5em !important;    
    top: auto !important;      
    left: auto !important;
}


.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 4px 12px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Arial, sans-serif;
    min-width: 250px;
    text-align: center;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: calc(50% + 11px);
    transform: translateX(-50%);
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: calc(50% + 11px);
    transform: translateX(-50%);
    margin-left: -11px;
}